<%- include('partials/header') %>
<div class="ui main text container segment"  style="margin-top: 7.0em;">
   <div class="ui huge header">New Blog</div>
   <form class="ui form" action="/blogs" method="POST">
    <div class="field">
      <label>  Title</label>
       <input type="text" name="blog[title]">
    </div>
    <div class="field">
       <label> Image</label>
        <input type="text" name="blog[image]">
    </div>
   <div class="field">
     <label> Body</label>
     <textarea name="blog[body]"></textarea>
   </div>
    <div class="field">
     <input class="ui green  big  button" type="submit">
  </div>
  </div>
 
  </form>
</div>
<%- include('partials/footer') %>